.main-wrapper {
  display: grid;
  grid-template-rows: 8% 92%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-toolbar {
  grid-row-start: 1;
  grid-row-end: 2;
}

.App {
  text-align: center;
  overflow: scroll;
  grid-row-start: 2;
  grid-row-end: 3;
}

html, body, #app, #app>div {
  height: 100%;
}
.main {
  height: 100%;
  width: 100%;
}