.tst {
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
}

.home-content {
  grid-row-start:2;
  grid-row-end: 3;
  justify-self: center;
  align-self: start;
  margin-top: 10em;
}

.toolbar {
  width: 100%;
}

.toolbar-details {
  background-color:crimson;
  box-shadow: 5px 3px 3px gray;
  display: grid;
  grid-template-columns: 10% auto 15%;
  grid-template-rows:100%;
  height: 100%; 
}

.toolbar-auth-btn {
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: center;
  justify-self: center;
}

.toolbar-menu {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  justify-self: center;
}

.toolbar-title {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 18px;
}